<nav class="navbar bg-body-tertiary containerX">
    <div class="container-fluid headerBox">
        <a class="navbar-brand title">User Management
            <p class="subTitle">maid for <a href="https://www.maids.cc/"> maids.cc</a></p>
        </a>
        <form class=" searchBox" role="search">
            <label class="searchLabel" for="search">Search for users</label>
            <input class="form-control me-2 " (change)="detectID($event)" type="search" placeholder="Search">
        </form>
    </div>
</nav>