<div class="Box">
    <app-header [users]="users" (foundUser)="filterUsers($event)"></app-header>
    <app-spinner *ngIf="!loading" style="text-align: center; color: #0b4d84;"></app-spinner>
    <div class="row my-4 users" *ngIf="loading">
        <div class=" col-md-3 col-sm-12 mt-3 user" *ngFor="let user of users">
            <div class="card-body " routerLink="/users/{{user.id}}">
                <img class="cardImage" [src]="user.avatar">
                <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
                <p class="card-text">{{user.email}}</p>
            </div>
        </div>
    </div>

    <!-- Pagination Controls -->
    <div class="container nav" *ngIf="loading ">
        <nav *ngIf="!existedUser">
            <ul class="pagination ">
                <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
                    [class.active]="currentPage === i + 1">
                    <a class="page-link" style="cursor: pointer;" (click)="pageChanging(i + 1)">{{ i + 1 }}</a>
                </li>
            </ul>
        </nav>
    </div>
</div>